/* agrego fuente para estandarizar como se ven los iconos */
@font-face {
    font-family: "Twemoji Mozilla";
    src: url("./twemoji.woff2") format("woff2");
}

/* resto de las reglas */
.generator-block {
   min-height: 220px;
}

.generator-block .password {
    font-size: 18px;
    color: rgb(41, 43, 44);
    text-align: center !important;
    word-break: break-all;
}

.generator-block #alt-entropy,
.generator-block #btc-entropy,
.generator-block #diceware-entropy,
.generator-block #eff-entropy,
.generator-block #pseudo-entropy,
.generator-block #random-entropy,
.generator-block .use-entropy span,
.generator-block .form-check .form-check-label {
    margin-right: 4px;
}

.generator-block .unicode-warn {
    visibility: hidden;
}

#randogram {
    cursor: url('data:image/gif;base64,R0lGODlhFAAUAIQUAP8/P/9AQP9QUP9iYv9mZv+AgP+EhP+fn/+vr//Y2P/a2v/c3P/d3f/p6f/q6v/r6//u7v/x8f/9/f/+/v///////////////////////////////////////////////yH5BAEKAB8ALAAAAAAUABQAAAW54CeOH0VJkkmu45QcRBAQRzKxItUUQO/3hQZlRVkIegZED2HoCRbDUeM4UFAevQdFMQAIGi3eADKMyCIlSLdw+yR61hyDEd32EqUDwBDFlZoHJgQACA8RfSMUEQ9KBCcBPgEMLAyQPQETEpYAkpSbmBSDCA6HLIoOjSZ6fH45gENvAHElc3UKdyITYmQfZgFoFGoAbFJUVlgAWlxeYIlGSEqETV5QRDs/P0GIJC4wMjQ2rYkUExMqLCEAOw=='), crosshair;
    touch-action: none;
}

.colors_dark_contrast {
    text-shadow:
        -1px -1px 0 #bbb,  0px -1px 0 #bbb,
         1px -1px 0 #bbb, -1px  0px 0 #bbb,
        -1px  1px 0 #bbb,  0px  1px 0 #bbb,
         1px  1px 0 #bbb,  1px  0px #bbb;
}

.colors_light_contrast {
    text-shadow:
        -1px -1px 0 #444,  0px -1px 0 #444,
         1px -1px 0 #444, -1px  0px 0 #444,
        -1px  1px 0 #444,  0px  1px 0 #444,
         1px  1px 0 #444,  1px  0px #444;
}

.colors_bold {
    font-weight: bold;
}

.generator-block .use-entropy {
    visibility: hidden;
}

@media (min-width: 992px) {
    .config-block {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
}
